# ML Ops Final Project
## Data Ingestion, Cleaning & Joining
### Dataset: LinkedIn Job Postings (2023-2024)
https://www.kaggle.com/datasets/arshkon/linkedin-job-postings/data

### Data Ingestion
- Downloaded dataset from Kaggle and unzipped
- Uploaded the .csv files to databricks via the "Data Ingestion" tab

In [0]:
# List files in our Databricks filestore (DBFS)
# Can also be viewed in "Catalog" tab
files = dbutils.fs.ls('dbfs:/user/hive/warehouse')
display(files)

path,name,size,modificationTime
dbfs:/user/hive/warehouse/benefits_csv/,benefits_csv/,0,1731773617834
dbfs:/user/hive/warehouse/cleaned_data/,cleaned_data/,0,1731773617834
dbfs:/user/hive/warehouse/companies_csv/,companies_csv/,0,1731773617834
dbfs:/user/hive/warehouse/company_industries_1_csv/,company_industries_1_csv/,0,1731773617834
dbfs:/user/hive/warehouse/company_specialities_csv/,company_specialities_csv/,0,1731773617834
dbfs:/user/hive/warehouse/employee_counts_1_csv/,employee_counts_1_csv/,0,1731773617835
dbfs:/user/hive/warehouse/industries_csv/,industries_csv/,0,1731773617835
dbfs:/user/hive/warehouse/job_industries_csv/,job_industries_csv/,0,1731773617835
dbfs:/user/hive/warehouse/job_skills_csv/,job_skills_csv/,0,1731773617835
dbfs:/user/hive/warehouse/postings_csv/,postings_csv/,0,1731773617835
dbfs:/user/hive/warehouse/salaries_csv/,salaries_csv/,0,1731773617835
dbfs:/user/hive/warehouse/skills_csv/,skills_csv/,0,1731773617835

### Read data into spark dataframes, then convert to pandas dataframes for data cleaning
- Choosing to use pandas as I haven't worked with pyspark before and our data is not so large that distributed operations is necessary

In [0]:
from pyspark.sql import SparkSession
import pandas as pd

In [0]:
# benefits.csv
benefits_df = spark.table("default.benefits_csv")
benefits_pd = benefits_df.toPandas()

# companies.csv
companies_df = spark.table("default.companies_csv")
companies_pd = companies_df.toPandas()

# company_industries.csv
company_industries_df = spark.table("default.company_industries_1_csv")
company_industries_pd = company_industries_df.toPandas()

# company_specialties.csv
company_specialities_df = spark.table("default.company_specialities_csv")
company_specialities_pd = company_specialities_df.toPandas()

# employee_counts.csv
employee_counts_df = spark.table("default.employee_counts_1_csv")
employee_counts_pd = employee_counts_df.toPandas()

# industries.csv
industries_map_df = spark.table("default.industries_csv")
industries_map_pd = industries_map_df.toPandas()

# job_industries.csv
job_industries_df = spark.table("default.job_industries_csv")
job_industries_pd = job_industries_df.toPandas()

# job_skills.csv
job_skills_df = spark.table("default.job_skills_csv")
job_skills_pd = job_skills_df.toPandas()

# salaries.csv
salaries_df = spark.table("default.salaries_csv")
salaries_pd = salaries_df.toPandas()

# skills.csv
skills_map_df = spark.table("default.skills_csv")
skills_map_pd = skills_map_df.toPandas()

# postings.csv
# this is largest file by far (0.5 GB)
postings_df = spark.table("default.postings_csv")
postings_pd = postings_df.toPandas()

### Data Cleaning
- Inspect structure of each dataframe and determine cleaning steps
- Perform cleaning and validate
- Save cleaned dataframe as new version

#### benefits_pd
- drop inferred - not important for our analysis
- rename type to benefit_type and convert to categorical, drop old 'type' column
- Perform one-hot encoding of benefit_type
- Aggregate the one-hot encoding by job_id

In [0]:
# benefits_pd investigation

print(benefits_pd.info())
print(benefits_pd.head())
print(benefits_pd.describe(include='all'))
print(benefits_pd.isnull().sum())

# Get unique values of benefit type
unique_values = benefits_pd['type'].unique()
print(f"Unique values in benefit type: {unique_values}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67943 entries, 0 to 67942
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   job_id    67943 non-null  int64
 1   inferred  67943 non-null  int32
 2   type      67943 non-null  object
dtypes: int32(1), int64(1), object(1)
memory usage: 1.3+ MB
None
       job_id  inferred                     type
0  3887473071         0        Medical insurance
1  3887473071         0         Vision insurance
2  3887473071         0         Dental insurance
3  3887473071         0                   401(k)
4  3887473071         0  Student loan assistance
              job_id      inferred    type
count   6.794300e+04  67943.000000   67943
unique           NaN           NaN      12
top              NaN           NaN  401(k)
freq             NaN           NaN   24231
mean    3.896220e+09      0.594969     NaN
std     9.817292e+07      0.490902     NaN
min     2.322152e+07      0.000000     NaN
25%     3.898161e+09      0.000000     NaN
50%     3.902348e+09      1.000000     NaN
75%     3.904719e+09      1.000000     NaN
max     3.906267e+09      1.000000     NaN
job_id      0
inferred    0
type        0
dtype: int64
Unique values in benefit type: ['Medical insurance' 'Vision insurance' 'Dental insurance' '401(k)'
 'Student loan assistance' 'Tuition assistance' 'Disability insurance'
 'Paid maternity leave' 'Paid paternity leave' 'Child care support'
 'Commuter benefits' 'Pension plan']

In [0]:
# benefits data cleaning

# drop inferred - not important for our analysis
benefits_pd.drop(columns=['inferred'], inplace=True)

# rename type to benefit_type and convert to categorical, drop old 'type' column
benefits_pd['benefit_type'] = benefits_pd['type'].astype('category')
benefits_pd.drop(columns=['type'], inplace=True)

# Perform one-hot encoding
benefits_one_hot = pd.get_dummies(benefits_pd, columns=['benefit_type'], prefix='benefit')

# Aggregate the one-hot encoding by job_id
benefits_clean = benefits_one_hot.groupby('job_id').sum().reset_index()

In [0]:
# check for NaN and duplicates in job_id
print(benefits_clean.isna().sum())
print(benefits_clean['job_id'].duplicated().sum())
(benefits_clean.head())

job_id                             0
benefit_401(k)                     0
benefit_Child care support         0
benefit_Commuter benefits          0
benefit_Dental insurance           0
benefit_Disability insurance       0
benefit_Medical insurance          0
benefit_Paid maternity leave       0
benefit_Paid paternity leave       0
benefit_Pension plan               0
benefit_Student loan assistance    0
benefit_Tuition assistance         0
benefit_Vision insurance           0
dtype: int64
0

      job_id  ...  benefit_Vision insurance
0   23221523  ...                         0
1   56482768  ...                         0
2   69333422  ...                         1
3   95428182  ...                         0
4  111513530  ...                         1

[5 rows x 13 columns]

In [0]:
# Replace invalid characters in column names
benefits_clean.columns = benefits_clean.columns.str.replace(r'[ ,;{}()\n\t=]', '_', regex=True)

# Convert uint8 columns to int
benefits_clean = benefits_clean.astype({col: 'int64' for col in benefits_clean.select_dtypes('uint8').columns})

# Convert pandas DataFrame to PySpark DataFrame
spark_benefits_clean = spark.createDataFrame(benefits_clean)

# Overwrite the existing Delta table with schema migration
spark_benefits_clean.write.format("delta").option("overwriteSchema", "true").mode("overwrite").saveAsTable("default.benefits_csv")

### companies_pd
- fill NaN in description with "No description provided"
- Company_size: Company grouping based on number of employees (1 Smallest - 7 Largest).
- Fill Company_Size NaN with -1.
- Standardize text columns
- State and City columns are very messy - unusable for analysis without major cleaning. As this is just company headquarters location, country is probably sufficient for a location feature
- 0 in country column indicates unknown
- Remove duplicates in name

In [0]:
print(companies_pd.info())
print(companies_pd.describe(include='all'))
print(companies_pd.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24473 entries, 0 to 24472
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   company_id    24473 non-null  int32
 1   name          24473 non-null  object
 2   description   24177 non-null  object
 3   company_size  21699 non-null  float64
 4   state         24452 non-null  object
 5   country       24473 non-null  object
 6   city          24472 non-null  object
 7   zip_code      24445 non-null  object
 8   address       24454 non-null  object
 9   url           24473 non-null  object
dtypes: float64(1), int32(1), object(8)
memory usage: 1.8+ MB
None
          company_id  ...                                   url
count   2.447300e+04  ...                                 24473
unique           NaN  ...                                 24473
top              NaN  ...  https://www.linkedin.com/company/ibm
freq             NaN  ...                                     1
mean    2.052239e+07  ...                                   NaN
std     3.165929e+07  ...                                   NaN
min     1.009000e+03  ...                                   NaN
25%     1.654040e+05  ...                                   NaN
50%     2.738154e+06  ...                                   NaN
75%     2.624142e+07  ...                                   NaN
max     1.034730e+08  ...                                   NaN

[11 rows x 10 columns]
company_id         0
name               0
description      296
company_size    2774
state             21
country            0
city               1
zip_code          28
address           19
url                0
dtype: int64

In [0]:
companies_pd.describe(include='all')

          company_id  ...                                   url
count   2.447300e+04  ...                                 24473
unique           NaN  ...                                 24473
top              NaN  ...  https://www.linkedin.com/company/ibm
freq             NaN  ...                                     1
mean    2.052239e+07  ...                                   NaN
std     3.165929e+07  ...                                   NaN
min     1.009000e+03  ...                                   NaN
25%     1.654040e+05  ...                                   NaN
50%     2.738154e+06  ...                                   NaN
75%     2.624142e+07  ...                                   NaN
max     1.034730e+08  ...                                   NaN

[11 rows x 10 columns]

In [0]:
companies_pd.head()

   company_id  ...                                                url
0        1009  ...               https://www.linkedin.com/company/ibm
1        1016  ...      https://www.linkedin.com/company/gehealthcare
2        1025  ...  https://www.linkedin.com/company/hewlett-packa...
3        1028  ...            https://www.linkedin.com/company/oracle
4        1033  ...         https://www.linkedin.com/company/accenture

[5 rows x 10 columns]

In [0]:
# Handle missing values
companies_pd['description'].fillna("No description provided", inplace=True)
companies_pd['company_size'].fillna(-1, inplace=True)

# Standardize text columns
companies_pd['name'] = companies_pd['name'].str.strip()
companies_pd['description'] = companies_pd['description'].str.strip()
companies_pd['country'] = companies_pd['country'].str.upper()

# Remove duplicates
companies_pd.drop_duplicates(subset=['name'], inplace=True)

# Drop unnecessary columns
columns_to_drop = ['state', 'city', 'zip_code', 'address', 'url']
companies_pd.drop(columns=columns_to_drop, inplace=True)

# Rename country to company_hq_country
companies_pd.rename(columns={'country': 'company_hq_country'}, inplace=True)

assert companies_clean['company_id'].is_unique

companies_clean = companies_pd

In [0]:
companies_clean.head()

   company_id                        name  ... company_size  company_hq_country
0        1009                         IBM  ...          7.0                  US
1        1016               GE HealthCare  ...          7.0                  US
2        1025  Hewlett Packard Enterprise  ...          7.0                  US
3        1028                      Oracle  ...          7.0                  US
4        1033                   Accenture  ...          7.0                  IE

[5 rows x 5 columns]

In [0]:
# Convert pandas DataFrame to PySpark DataFrame
spark_companies_clean = spark.createDataFrame(companies_clean)

# Overwrite the existing Delta table with schema migration
spark_companies_clean.write.format("delta").option("overwriteSchema", "true").mode("overwrite").saveAsTable("default.companies_csv")

#### company_industries
- rename industry to company_industry
- 144 unique industries

In [0]:
print(company_industries_pd.info())
print(company_industries_pd.head())
print(company_industries_pd.describe(include='all'))
print(company_industries_pd.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24375 entries, 0 to 24374
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   company_id  24375 non-null  int32
 1   industry    24375 non-null  object
dtypes: int32(1), object(1)
memory usage: 285.8+ KB
None
   company_id                        industry
0      391906  Book and Periodical Publishing
1    22292832                    Construction
2       20300                         Banking
3     3570660  Book and Periodical Publishing
4      878353         Staffing and Recruiting
          company_id                 industry
count   2.437500e+04                    24375
unique           NaN                      144
top              NaN  Staffing and Recruiting
freq             NaN                     2387
mean    2.038566e+07                      NaN
std     3.158083e+07                      NaN
min     1.009000e+03                      NaN
25%     1.652215e+05                      NaN
50%     2.708302e+06                      NaN
75%     2.503948e+07                      NaN
max     1.034730e+08                      NaN
company_id    0
industry      0
dtype: int64

In [0]:
# Count the number of duplicates in the 'company_id' column
num_duplicates = company_industries_pd['company_id'].duplicated().sum()
#print(f"Number of duplicate company IDs: {num_duplicates}")

# 10 duplicate company_id's. Will drop the 10 duplicate rows
company_industries_pd['company_id'].drop_duplicates(inplace=True)

# Rename column for clarity
company_industries_pd.rename(columns={'industry': 'company_industry'}, inplace=True)

# Standardize text in the company_industry column
company_industries_pd['company_industry'] = company_industries_pd['company_industry'].str.strip().str.title()

# Ensure 144 unique industries
assert company_industries_pd['company_industry'].nunique() == 144, "Industry count mismatch!"

company_industries_clean = company_industries_pd

In [0]:
company_industries_clean.head()

   company_id                company_industry
0      391906  Book And Periodical Publishing
1    22292832                    Construction
2       20300                         Banking
3     3570660  Book And Periodical Publishing
4      878353         Staffing And Recruiting

In [0]:
# Convert pandas DataFrame to PySpark DataFrame
spark_company_industries_clean = spark.createDataFrame(company_industries_clean)

# Overwrite the existing Delta table with schema migration
spark_company_industries_clean.write.format("delta").option("overwriteSchema", "true").mode("overwrite").saveAsTable("default.company_industries_1_csv")

#### company_specialties
- 73179 unique specialties. Too many for one hot encoding. Could do some extensive feature engineering to combine, but may not be super useful. 
- 17780 unique company_id's. Too many specialties to one hot encode, so will concatenate all specialties for a given company in a single column
- Probably won't keep these specialities, but will clean the table just in case

In [0]:
print(company_specialities_pd.info())
print(company_specialities_pd.describe(include='all'))
print(company_specialities_pd.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169387 entries, 0 to 169386
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   company_id  169387 non-null  int32
 1   speciality  169387 non-null  object
dtypes: int32(1), object(1)
memory usage: 1.9+ MB
None
          company_id   speciality
count   1.693870e+05       169387
unique           NaN        82960
top              NaN  Engineering
freq             NaN          601
mean    1.258875e+07          NaN
std     2.451128e+07          NaN
min     1.009000e+03          NaN
25%     1.103290e+05          NaN
50%     1.346497e+06          NaN
75%     1.067675e+07          NaN
max     1.034588e+08          NaN
company_id    0
speciality    0
dtype: int64

In [0]:
# Standardize speciality column
company_specialities_pd['speciality'] = company_specialities_pd['speciality'].str.strip().str.title()
print(company_specialities_pd['speciality'].value_counts().head(20))

# Count the number of unique values in the 'speciality' column
num_unique_values = company_specialities_pd['speciality'].nunique()
print(f"Number of unique values: {num_unique_values}")

Staffing                   750
Engineering                745
Recruiting                 742
Technology                 695
Consulting                 597
Healthcare                 571
Marketing                  567
Manufacturing              526
Project Management         440
Executive Search           438
Recruitment                437
Information Technology     436
Human Resources            426
Education                  418
Finance                    393
Construction               363
Retail                     354
Artificial Intelligence    346
Accounting                 340
Sales                      324
Name: speciality, dtype: int64
Number of unique values: 73179

In [0]:
# Count the number of unique values in the 'company_id' column
num_unique_values = company_specialities_pd['company_id'].nunique()

print(f"Number of unique values: {num_unique_values}")

Number of unique values: 17780

In [0]:
# Consolidate specialities into a single string for each company
specialities_grouped = company_specialities_pd.groupby('company_id')['speciality'].apply(lambda x: ', '.join(x)).reset_index()
specialities_grouped.rename(columns={'speciality': 'company_specialities'}, inplace=True)

company_specialities_clean = specialities_grouped

In [0]:
company_specialities_clean.head()

   company_id                               company_specialities
0        1009  Cloud, Mobile, Cognitive, Security, Research, ...
1        1016                          Healthcare, Biotechnology
2        1028  Enterprise, Software, Applications, Database, ...
3        1033  Management Consulting, Systems Integration And...
4        1035  Business Software, Developer Tools, Home & Edu...

In [0]:
# Convert pandas DataFrame to PySpark DataFrame
spark_company_specialities_clean = spark.createDataFrame(company_specialities_clean)

# Overwrite the existing Delta table with schema migration
spark_company_specialities_clean.write.format("delta").option("overwriteSchema", "true").mode("overwrite").saveAsTable("default.company_specialities_csv")

#### employee_counts
- convert time_recorded to datetime
- duplicate company_id's indicate observations taken at different times. Keep most recent observation.
- range of employee counts and followers counts is reasonable. no incorrect outliers

In [0]:
print(employee_counts_pd.info())
print(employee_counts_pd.describe(include='all'))
print(employee_counts_pd.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35787 entries, 0 to 35786
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   company_id      35787 non-null  int32
 1   employee_count  35787 non-null  int32
 2   follower_count  35787 non-null  int32
 3   time_recorded   35787 non-null  int32
dtypes: int32(4)
memory usage: 559.3 KB
None
         company_id  employee_count  follower_count  time_recorded
count  3.578700e+04    35787.000000    3.578700e+04   3.578700e+04
mean   1.668254e+07     6715.874256    2.012616e+05   1.713163e+09
std    2.924722e+07    29400.984643    1.114733e+06   3.990869e+05
min    1.009000e+03        0.000000    0.000000e+00   1.712346e+09
25%    6.059650e+04       56.000000    2.738000e+03   1.712861e+09
50%    1.339209e+06      418.000000    1.617800e+04   1.713393e+09
75%    1.544092e+07     2945.000000    7.412950e+04   1.713472e+09
max    1.034730e+08   751125.000000    3.270284e+07   1.713573e+09
company_id        0
employee_count    0
follower_count    0
time_recorded     0
dtype: int64

In [0]:
employee_counts_pd['time_recorded'] = pd.to_datetime(employee_counts_pd['time_recorded'], unit='s')
employee_counts_pd['time_recorded'].head()

0   2024-04-05 19:42:53
1   2024-04-05 19:42:53
2   2024-04-05 19:42:53
3   2024-04-05 19:42:53
4   2024-04-05 19:42:53
Name: time_recorded, dtype: datetime64[ns]

In [0]:
duplicates = employee_counts_pd['company_id'].duplicated()
print(f"Number of duplicate rows: {duplicates.sum()}")

# duplicate company_id's. keep the row with most recent time_recorded

employee_counts_pd = employee_counts_pd.sort_values(by=['company_id', 'time_recorded']).drop_duplicates(subset=['company_id'], keep='last')

print(employee_counts_pd.shape)

Number of duplicate rows: 11314
(24473, 4)

In [0]:
employee_counts_clean = employee_counts_pd
employee_counts_clean.head()

       company_id  employee_count  follower_count       time_recorded
30056        1009          311223        16314846 2024-04-19 04:34:15
35604        1016           57001         2196350 2024-04-19 23:23:51
21766        1025           79559         3588329 2024-04-18 15:14:18
32109        1028          191374         9497909 2024-04-19 15:21:13
35631        1033          565191        11890321 2024-04-19 23:30:51

In [0]:
# Convert pandas DataFrame to PySpark DataFrame
spark_employee_counts_clean = spark.createDataFrame(employee_counts_clean)

# Overwrite the existing Delta table with schema migration
spark_employee_counts_clean.write.format("delta").option("overwriteSchema", "true").mode("overwrite").saveAsTable("default.employee_counts_1_csv")

#### industries_map
- This mapping is only used for job_industries
- Replace missing industry_name entries with "Unnamed Industry"

In [0]:
print(industries_map_pd.info())
print(industries_map_pd.describe(include='all'))
print(industries_map_pd.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 422 entries, 0 to 421
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   industry_id    422 non-null    int32
 1   industry_name  388 non-null    object
dtypes: int32(1), object(1)
memory usage: 5.1+ KB
None
        industry_id                    industry_name
count    422.000000                              388
unique          NaN                              388
top             NaN  Defense and Space Manufacturing
freq            NaN                                1
mean    1342.305687                              NaN
std     1212.022551                              NaN
min        1.000000                              NaN
25%      108.250000                              NaN
50%     1161.500000                              NaN
75%     2279.500000                              NaN
max     3253.000000                              NaN
industry_id       0
industry_name    34
dtype: int64

In [0]:
# Replace missing industry_name entries with "Unnamed Industry"
industries_map_pd['industry_name'].fillna("Unnamed Industry", inplace=True)

# Standardize industry names
industries_map_pd['industry_name'] = industries_map_pd['industry_name'].str.strip().str.title()

job_industries_map_clean = industries_map_pd

In [0]:
job_industries_map_clean.head()

   industry_id                         industry_name
0            1       Defense And Space Manufacturing
1            3       Computer Hardware Manufacturing
2            4                  Software Development
3            5          Computer Networking Products
4            6  Technology, Information And Internet

In [0]:
# Convert pandas DataFrame to PySpark DataFrame
spark_job_industries_map_clean = spark.createDataFrame(job_industries_map_clean)

# Overwrite the existing Delta table with schema migration
spark_job_industries_map_clean.write.format("delta").option("overwriteSchema", "true").mode("overwrite").saveAsTable("default.industries_csv")

#### job_industries
- a single job_id has multiple industries
- If a job_id has multiple industries, will keep the one that occurs most frequently in the table

In [0]:
print(job_industries_pd.info())
print(job_industries_pd.describe(include='all'))
print(job_industries_pd.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164808 entries, 0 to 164807
Data columns (total 2 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   job_id       164808 non-null  int64
 1   industry_id  164808 non-null  int32
dtypes: int32(1), int64(1)
memory usage: 1.9 MB
None
             job_id    industry_id
count  1.648080e+05  164808.000000
mean   3.897074e+09     196.155284
std    7.624930e+07     594.230895
min    9.217160e+05       1.000000
25%    3.894876e+09      17.000000
50%    3.902342e+09      44.000000
75%    3.904719e+09      96.000000
max    3.906267e+09    3253.000000
job_id         0
industry_id    0
dtype: int64

In [0]:
duplicates = job_industries_pd['job_id'].duplicated()
print(f"Number of duplicate rows: {duplicates.sum()}")

Number of duplicate rows: 37683

In [0]:
job_industries_pd.head()

       job_id  industry_id
0  3884428798           82
1  3887473071           48
2  3887465684           41
3  3887467939           82
4  3887467939           80

In [0]:
from collections import Counter
# Calculate global frequency of each industry
industry_frequency = job_industries_pd['industry_id'].value_counts().to_dict()

# Group by job_id
job_industries_grouped = job_industries_pd.groupby('job_id')['industry_id'].apply(list).reset_index()

# Keep the most frequent industry globally for each job_id
def most_frequent_global(industries):
    return sorted(industries, key=lambda x: -industry_frequency.get(x, 0))[0]

job_industries_grouped['primary_industry_id'] = job_industries_grouped['industry_id'].apply(most_frequent_global)

# Drop the aggregated industry_id column
job_industries_grouped.drop(columns=['industry_id'], inplace=True)

job_industries_clean = job_industries_grouped

In [0]:
job_industries_clean.head()

     job_id  primary_industry_id
0    921716                   44
1   1218575                   14
2   2264355                   89
3   9615617                  142
4  10998357                   32

In [0]:
# Convert pandas DataFrame to PySpark DataFrame
spark_job_industries_clean = spark.createDataFrame(job_industries_clean)

# Overwrite the existing Delta table with schema migration
spark_job_industries_clean.write.format("delta").option("overwriteSchema", "true").mode("overwrite").saveAsTable("default.job_industries_csv")

#### skills_map
- no cleaning needed

In [0]:
print(skills_map_pd.info())
print(skills_map_pd.describe(include='all'))
print(skills_map_pd.isnull().sum())

# only 35 unique skills - seems kind of low, but maybe makes it more usable/interpretable
# join to jobs by skill_abr

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   skill_abr   35 non-null     object
 1   skill_name  35 non-null     object
dtypes: object(2)
memory usage: 688.0+ bytes
None
       skill_abr    skill_name
count         35            35
unique        35            35
top          ART  Art/Creative
freq           1             1
skill_abr     0
skill_name    0
dtype: int64

#### job_skills
- only 35 unique skills - seems kind of low, but maybe makes it more usable/interpretable
- Each job can have many skills, so will one hot encode the skills and group by job_id
- Need to join with skills_map_pd first, though

In [0]:
print(job_skills_pd.info())
print(job_skills_pd.head())
print(job_skills_pd.describe(include='all'))
print(job_skills_pd.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213768 entries, 0 to 213767
Data columns (total 2 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   job_id     213768 non-null  int64
 1   skill_abr  213768 non-null  object
dtypes: int64(1), object(1)
memory usage: 3.3+ MB
None
       job_id skill_abr
0  3884428798      MRKT
1  3884428798        PR
2  3884428798       WRT
3  3887473071      SALE
4  3887465684       FIN
              job_id skill_abr
count   2.137680e+05    213768
unique           NaN        35
top              NaN        IT
freq             NaN     26137
mean    3.896849e+09       NaN
std     7.834902e+07       NaN
min     9.217160e+05       NaN
25%     3.894661e+09       NaN
50%     3.902323e+09       NaN
75%     3.904715e+09       NaN
max     3.906267e+09       NaN
job_id       0
skill_abr    0
dtype: int64

In [0]:
duplicates = job_skills_pd['job_id'].duplicated()
print(f"Number of duplicate rows: {duplicates.sum()}")

Number of duplicate rows: 86961

In [0]:
# Perform the join on skill_abr
job_skills_with_names = job_skills_pd.merge(skills_map_pd, on='skill_abr', how='left')

# Drop the skill_abr column
job_skills_with_names.drop(columns=['skill_abr'], inplace=True)

job_skills_with_names

            job_id        skill_name
0       3884428798         Marketing
1       3884428798  Public Relations
2       3884428798   Writing/Editing
3       3887473071             Sales
4       3887465684           Finance
...            ...               ...
213763  3902876855   Human Resources
213764  3902878689        Management
213765  3902878689     Manufacturing
213766  3902883233             Sales
213767  3902883233        Management

[213768 rows x 2 columns]

In [0]:
# Step 1: One-hot encode the skills
skills_one_hot = pd.get_dummies(job_skills_with_names, columns=['skill_name'], prefix='skill')

# Step 2: Group by job_id and sum the one-hot encoded columns
skills_one_hot_grouped = skills_one_hot.groupby('job_id').sum().reset_index()

job_skills_clean = skills_one_hot_grouped

In [0]:
job_skills_clean.head()

     job_id  skill_Accounting/Auditing  ...  skill_Training  skill_Writing/Editing
0    921716                          0  ...               0                      0
1   1218575                          0  ...               0                      0
2   1829192                          0  ...               0                      0
3   2264355                          0  ...               0                      0
4  10998357                          0  ...               0                      0

[5 rows x 36 columns]

In [0]:
# Replace invalid characters in column names
job_skills_clean.columns = job_skills_clean.columns.str.replace(r'[ ,;{}()\n\t=]', '_', regex=True)

# Convert uint8 columns to int
job_skills_clean = job_skills_clean.astype({col: 'int64' for col in job_skills_clean.select_dtypes('uint8').columns})

# Convert pandas DataFrame to PySpark DataFrame
spark_job_skills_clean = spark.createDataFrame(job_skills_clean)

# Overwrite the existing Delta table with schema migration
spark_job_skills_clean.write.format("delta").option("overwriteSchema", "true").mode("overwrite").saveAsTable("default.job_skills_csv")

#### salaries
- Npt using this table
- Doesn't contain any additional salary information for the job_ids in postings_pd
- The job_ids in salaries_pd that are not in postings_pd do not have other supplementary info like description, skills, views, etc.

In [0]:
print(salaries_pd.info())
print(salaries_pd.head())
print(salaries_pd.describe(include='all'))
print(salaries_pd.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40785 entries, 0 to 40784
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   salary_id          40785 non-null  int32
 1   job_id             40785 non-null  int64
 2   max_salary         33947 non-null  float64
 3   med_salary         6838 non-null   float64
 4   min_salary         33947 non-null  float64
 5   pay_period         40785 non-null  object
 6   currency           40785 non-null  object
 7   compensation_type  40785 non-null  object
dtypes: float64(3), int32(1), int64(1), object(3)
memory usage: 2.3+ MB
None
   salary_id      job_id  max_salary  ...  pay_period  currency compensation_type
0          1  3884428798         NaN  ...      HOURLY       USD       BASE_SALARY
1          2  3887470552        25.0  ...      HOURLY       USD       BASE_SALARY
2          3  3884431523    120000.0  ...      YEARLY       USD       BASE_SALARY
3          4  3884911725    200000.0  ...      YEARLY       USD       BASE_SALARY
4          5  3887473220        35.0  ...      HOURLY       USD       BASE_SALARY

[5 rows x 8 columns]
           salary_id        job_id  ...  currency  compensation_type
count   40785.000000  4.078500e+04  ...     40785              40785
unique           NaN           NaN  ...         6                  1
top              NaN           NaN  ...       USD        BASE_SALARY
freq             NaN           NaN  ...     40770              40785
mean    20393.000000  3.895564e+09  ...       NaN                NaN
std     11773.759701  9.496672e+07  ...       NaN                NaN
min         1.000000  9.217160e+05  ...       NaN                NaN
25%     10197.000000  3.894608e+09  ...       NaN                NaN
50%     20393.000000  3.901980e+09  ...       NaN                NaN
75%     30589.000000  3.904576e+09  ...       NaN                NaN
max     40785.000000  3.906267e+09  ...       NaN                NaN

[11 rows x 8 columns]
salary_id                0
job_id                   0
max_salary            6838
med_salary           33947
min_salary            6838
pay_period               0
currency                 0
compensation_type        0
dtype: int64
Number of rows with NaN in all salary cols: 0

In [0]:
salaries_pd

       salary_id      job_id  max_salary  ...  pay_period  currency compensation_type
0              1  3884428798         NaN  ...      HOURLY       USD       BASE_SALARY
1              2  3887470552       25.00  ...      HOURLY       USD       BASE_SALARY
2              3  3884431523   120000.00  ...      YEARLY       USD       BASE_SALARY
3              4  3884911725   200000.00  ...      YEARLY       USD       BASE_SALARY
4              5  3887473220       35.00  ...      HOURLY       USD       BASE_SALARY
...          ...         ...         ...  ...         ...       ...               ...
40780      40781  3902881498         NaN  ...      HOURLY       USD       BASE_SALARY
40781      40782  3902883232         NaN  ...      HOURLY       USD       BASE_SALARY
40782      40783  3902866633       21.53  ...      HOURLY       USD       BASE_SALARY
40783      40784  3902879720   125000.00  ...      YEARLY       USD       BASE_SALARY
40784      40785  3902878689    85862.00  ...      YEARLY       USD       BASE_SALARY

[40785 rows x 8 columns]

#### postings

In [0]:
# To access an older version of any of the tables run the following 
# Alternatively, go to catalog -> table -> history

postings_df = spark.read.format("delta").option("versionAsOf", 1).table("default.postings_csv")
postings_pd = postings_df.toPandas()

In [0]:
print(postings_pd.info())
print(postings_pd.head())
print(postings_pd.describe(include='all'))
print(postings_pd.isnull().sum())

# Drop irrelevant columns (too many NaN (closed_time, skills_desc, posting_domain), duplicate information (work_type, max_salary, min_salary, med_salary), or only one level (compensation type and sponsored))
# Drop rows where NaN are not acceptable
# For columns where NaN are acceptable, fill with placeholders
# Standardize text columns
# Convert time columns to datetime
# Parse location
# One-hot encode categorical variables

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123849 entries, 0 to 123848
Data columns (total 31 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   job_id                      123849 non-null  int64
 1   company_name                122130 non-null  object
 2   title                       123849 non-null  object
 3   description                 123842 non-null  object
 4   max_salary                  29793 non-null   float64
 5   pay_period                  36073 non-null   object
 6   location                    123849 non-null  object
 7   company_id                  122132 non-null  float64
 8   views                       122160 non-null  float64
 9   med_salary                  6280 non-null    float64
 10  min_salary                  29793 non-null   float64
 11  formatted_work_type         123849 non-null  object
 12  applies                     23320 non-null   float64
 13  original_listed_time        123849 non-null  float64
 14  remote_allowed              15246 non-null   float64
 15  job_posting_url             123849 non-null  object
 16  application_url             87184 non-null   object
 17  application_type            123849 non-null  object
 18  expiry                      123849 non-null  float64
 19  closed_time                 1073 non-null    float64
 20  formatted_experience_level  94440 non-null   object
 21  skills_desc                 2439 non-null    object
 22  listed_time                 123849 non-null  float64
 23  posting_domain              83881 non-null   object
 24  sponsored                   123849 non-null  int32
 25  work_type                   123849 non-null  object
 26  currency                    36073 non-null   object
 27  compensation_type           36073 non-null   object
 28  normalized_salary           36073 non-null   float64
 29  zip_code                    102977 non-null  float64
 30  fips                        96434 non-null   float64
dtypes: float64(14), int32(1), int64(1), object(15)
memory usage: 28.8+ MB
None
     job_id            company_name  ... zip_code     fips
0    921716   Corcoran Sawyer Smith  ...   8540.0  34021.0
1   1829192                    None  ...  80521.0   8069.0
2  10998357  The National Exemplar   ...  45202.0  39061.0
3  23221523  Abrams Fensterman, LLP  ...  11040.0  36059.0
4  35982263                    None  ...  52601.0  19057.0

[5 rows x 31 columns]
              job_id  ...          fips
count   1.238490e+05  ...  96434.000000
unique           NaN  ...           NaN
top              NaN  ...           NaN
freq             NaN  ...           NaN
mean    3.896402e+09  ...  28713.879887
std     8.404355e+07  ...  16015.929825
min     9.217160e+05  ...   1003.000000
25%     3.894587e+09  ...  13121.000000
50%     3.901998e+09  ...  29183.000000
75%     3.904707e+09  ...  42077.000000
max     3.906267e+09  ...  56045.000000

[11 rows x 31 columns]
job_id                             0
company_name                    1719
title                              0
description                        7
max_salary                     94056
pay_period                     87776
location                           0
company_id                      1717
views                           1689
med_salary                    117569
min_salary                     94056
formatted_work_type                0
applies                       100529
original_listed_time               0
remote_allowed                108603
job_posting_url                    0
application_url                36665
application_type                   0
expiry                             0
closed_time                   122776
formatted_experience_level     29409
skills_desc                   121410
listed_time                        0
posting_domain                 39968
sponsored                          0
work_type                          0
currency                       87776
compensation_type              87776
normalized_salary              87776
zip_code                       20872
fips                           27415
dtype: int64

In [0]:
postings_pd.head()

     job_id            company_name  ... zip_code     fips
0    921716   Corcoran Sawyer Smith  ...   8540.0  34021.0
1   1829192                    None  ...  80521.0   8069.0
2  10998357  The National Exemplar   ...  45202.0  39061.0
3  23221523  Abrams Fensterman, LLP  ...  11040.0  36059.0
4  35982263                    None  ...  52601.0  19057.0

[5 rows x 31 columns]

In [0]:
postings_pd.describe(include='all')

              job_id  ...          fips
count   1.238490e+05  ...  96434.000000
unique           NaN  ...           NaN
top              NaN  ...           NaN
freq             NaN  ...           NaN
mean    3.896402e+09  ...  28713.879887
std     8.404355e+07  ...  16015.929825
min     9.217160e+05  ...   1003.000000
25%     3.894587e+09  ...  13121.000000
50%     3.901998e+09  ...  29183.000000
75%     3.904707e+09  ...  42077.000000
max     3.906267e+09  ...  56045.000000

[11 rows x 31 columns]

In [0]:
# Drop irrelevant columns
postings_pd.drop(columns=['closed_time', 'skills_desc', 'max_salary', 'min_salary', 'med_salary', 'work_type', 'posting_domain', 'compensation_type', 'sponsored'], inplace=True)

# Drop rows where NaN are not acceptable
postings_pd.dropna(subset=['company_name', 'company_id', 'views'], inplace=True)

# For columns where NaN are acceptable, fill with placeholders
postings_pd['applies'].fillna(0, inplace=True)   # 0 applies recorded
postings_pd['remote_allowed'].fillna(0, inplace=True)   # remote_allowed not specified
postings_pd['formatted_experience_level'].fillna('unspecified', inplace=True)

# Standardize text columns
text_columns = ['company_name', 'title', 'description', 'location']
for col in text_columns:
    postings_pd[col] = postings_pd[col].str.strip().str.lower()

# Convert time columns to datetime
time_columns = ['original_listed_time', 'expiry', 'listed_time']
for col in time_columns:
    postings_pd[col] = pd.to_datetime(postings_pd[col], unit='ms', errors='coerce')

# Parse location
location_split = postings_pd['location'].str.split(',', expand=True)
postings_pd['city'] = location_split[0].str.strip()  # Remove leading/trailing whitespace
postings_pd['state'] = location_split[1].str.strip() # Remove leading/trailing whitespace
postings_pd['state'].fillna('united states', inplace=True)  # Fill NA values in 'state' with 'united states'

# One-hot encode categorical variables
postings_pd = pd.get_dummies(postings_pd, columns=['formatted_work_type', 'formatted_experience_level', 'pay_period', 'currency', 'application_type'], prefix=['work_type', 'experience', 'pay_period', 'currency', 'app_type'])

# Create link_to_application: 1 if application_url is not NaN, 0 otherwise
postings_pd['link_to_application'] = postings_pd['application_url'].notna().astype(int)

# Create salary_listed: 1 if normalized_salary is not NaN, 0 otherwise
postings_pd['salary_listed'] = postings_pd['normalized_salary'].notna().astype(int)

In [0]:
postings_pd.shape

(120503, 49)

In [0]:
postings_pd.describe(include='all', datetime_is_numeric=True)

              job_id  ...  salary_listed
count   1.205030e+05  ...  120503.000000
unique           NaN  ...            NaN
top              NaN  ...            NaN
freq             NaN  ...            NaN
mean    3.897071e+09  ...       0.291238
min     9.217160e+05  ...       0.000000
25%     3.894604e+09  ...       0.000000
50%     3.902300e+09  ...       0.000000
75%     3.904706e+09  ...       1.000000
max     3.906267e+09  ...       1.000000
std     7.077999e+07  ...       0.454335

[11 rows x 49 columns]

In [0]:
postings_pd.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 120503 entries, 0 to 123848
Data columns (total 49 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   job_id                       120503 non-null  int64
 1   company_name                 120503 non-null  object
 2   title                        120503 non-null  object
 3   description                  120497 non-null  object
 4   location                     120503 non-null  object
 5   company_id                   120503 non-null  float64
 6   views                        120503 non-null  float64
 7   applies                      120503 non-null  float64
 8   original_listed_time         120503 non-null  datetime64[ns]
 9   remote_allowed               120503 non-null  float64
 10  job_posting_url              120503 non-null  object
 11  application_url              86426 non-null   object
 12  expiry                       120503 non-null  datetime64[ns]
 13  listed_time                  120503 non-null  datetime64[ns]
 14  normalized_salary            35095 non-null   float64
 15  zip_code                     100617 non-null  float64
 16  fips                         94227 non-null   float64
 17  city                         120503 non-null  object
 18  state                        120503 non-null  object
 19  work_type_Contract           120503 non-null  uint8
 20  work_type_Full-time          120503 non-null  uint8
 21  work_type_Internship         120503 non-null  uint8
 22  work_type_Other              120503 non-null  uint8
 23  work_type_Part-time          120503 non-null  uint8
 24  work_type_Temporary          120503 non-null  uint8
 25  work_type_Volunteer          120503 non-null  uint8
 26  experience_Associate         120503 non-null  uint8
 27  experience_Director          120503 non-null  uint8
 28  experience_Entry level       120503 non-null  uint8
 29  experience_Executive         120503 non-null  uint8
 30  experience_Internship        120503 non-null  uint8
 31  experience_Mid-Senior level  120503 non-null  uint8
 32  experience_unspecified       120503 non-null  uint8
 33  pay_period_BIWEEKLY          120503 non-null  uint8
 34  pay_period_HOURLY            120503 non-null  uint8
 35  pay_period_MONTHLY           120503 non-null  uint8
 36  pay_period_WEEKLY            120503 non-null  uint8
 37  pay_period_YEARLY            120503 non-null  uint8
 38  currency_BBD                 120503 non-null  uint8
 39  currency_CAD                 120503 non-null  uint8
 40  currency_EUR                 120503 non-null  uint8
 41  currency_GBP                 120503 non-null  uint8
 42  currency_USD                 120503 non-null  uint8
 43  app_type_ComplexOnsiteApply  120503 non-null  uint8
 44  app_type_OffsiteApply        120503 non-null  uint8
 45  app_type_SimpleOnsiteApply   120503 non-null  uint8
 46  app_type_UnknownApply        120503 non-null  uint8
 47  link_to_application          120503 non-null  int64
 48  salary_listed                120503 non-null  int64
dtypes: datetime64[ns](3), float64(7), int64(3), object(8), uint8(28)
memory usage: 23.4+ MB

#### Further clean 'state' column

In [0]:
print("Unique values in state (including NaN):")
print(postings_pd['state'].unique())

Unique values in state (including NaN):
['nj' 'oh' 'ny' 'nc' 'united states' 'ne' 'fl' 'mi' 'mo' 'ak' 'al' 'ga'
 'co' 'tx' 'ma' 'az' 'wa' 'wi' 'hi' 'pa' 'ca' 'la' 'ut' 'in' 'va' 'ia'
 'tn' 'mn' 'md' 'ky' 'or' 'nebraska metropolitan area' 'il' 'mt'
 'ohio metropolitan area' 'ok' 'dc' 'ms'
 'south carolina metropolitan area' 'sc' 'ks' 'ar'
 'texas metropolitan area' 'nm' 'ct' 'california' 'nv'
 'oregon metropolitan area' 'illinois metropolitan area' 'id'
 'south carolina area' 'nh' 'wy' 'sd' 'nd' 'de' 'alabama area' 'wv' 'vt'
 'kansas metropolitan area' 'massachusetts metropolitan area' 'me'
 'wisconsin metropolitan area' 'on' 'ri' 'missouri'
 'new york metropolitan area' 'virginia' 'colorado' 'florida' 'ohio'
 'north carolina metropolitan area' 'new york' 'texas' 'mi area' 'oregon'
 'illinois' 'massachusetts' 'arizona' 'hawaii' 'nevada' 'tennessee'
 'south dakota' 'indiana' 'district of columbia' 'pennsylvania'
 'south carolina' 'utah' 'georgia area' 'south holland'
 'indiana metropolitan area' 'missouri area' 'maryland' 'wisconsin'
 'virginia metropolitan area' 'delaware' 'washington' 'north carolina'
 'louisiana metropolitan area' 'new jersey' 'illinois area'
 'north carolina area' 'alaska' 'il area' 'nebraska' 'michigan'
 'maine metropolitan area' 'qc' 'georgia' 'arkansas' 'minnesota area'
 'nc area' 'minnesota' 'alabama' 'az area' 'oklahoma' 'louisiana'
 'the gambia' 'new mexico']

In [0]:
# Define a mapping of state variations to their standard abbreviations
state_mapping = {
    # Valid state abbreviations
    'nj': 'nj', 'oh': 'oh', 'ny': 'ny', 'nc': 'nc', 'ne': 'ne', 'fl': 'fl', 'mi': 'mi',
    'mo': 'mo', 'ak': 'ak', 'al': 'al', 'ga': 'ga', 'co': 'co', 'tx': 'tx', 'ma': 'ma',
    'az': 'az', 'wa': 'wa', 'wi': 'wi', 'hi': 'hi', 'pa': 'pa', 'ca': 'ca', 'la': 'la',
    'ut': 'ut', 'in': 'in', 'va': 'va', 'ia': 'ia', 'tn': 'tn', 'mn': 'mn', 'md': 'md',
    'ky': 'ky', 'or': 'or', 'il': 'il', 'mt': 'mt', 'ok': 'ok', 'dc': 'dc', 'ms': 'ms',
    'sc': 'sc', 'ks': 'ks', 'ar': 'ar', 'nm': 'nm', 'ct': 'ct', 'nv': 'nv', 'nh': 'nh',
    'wy': 'wy', 'sd': 'sd', 'nd': 'nd', 'de': 'de', 'wv': 'wv', 'vt': 'vt', 'me': 'me',
    'ri': 'ri', 'id': 'id',

    # Variations of state names or areas
    'nebraska metropolitan area': 'ne',
    'ohio metropolitan area': 'oh',
    'south carolina metropolitan area': 'sc',
    'california': 'ca',
    'illinois metropolitan area': 'il',
    'massachusetts metropolitan area': 'ma',
    'north carolina metropolitan area': 'nc',
    'new york metropolitan area': 'ny',
    'texas metropolitan area': 'tx',
    'wisconsin metropolitan area': 'wi',
    'oregon metropolitan area': 'or',
    'florida': 'fl',
    'new york': 'ny',
    'colorado': 'co',
    'virginia': 'va',
    'missouri': 'mo',
    'georgia': 'ga',
    'illinois': 'il',
    'arizona': 'az',
    'hawaii': 'hi',
    'nevada': 'nv',
    'tennessee': 'tn',
    'south dakota': 'sd',
    'indiana': 'in',
    'district of columbia': 'dc',
    'pennsylvania': 'pa',
    'south carolina': 'sc',
    'utah': 'ut',
    'maryland': 'md',
    'north carolina': 'nc',
    'new jersey': 'nj',
    'alabama': 'al',
    'michigan': 'mi',
    'nebraska': 'ne',
    'maine': 'me',
    'oklahoma': 'ok',
    'louisiana': 'la',
    'minnesota': 'mn',
    'arkansas': 'ar',

    # General terms or invalid values
    'united states': 'united states',
    'the gambia': 'unspecified',  # or drop these rows if preferred
    'qc': 'unspecified',  # Quebec, not a U.S. state
    'on': 'unspecified',  # Ontario, not a U.S. state
    'az area': 'az',
    'nc area': 'nc',
    'il area': 'il',
    'minnesota area': 'mn',
    'georgia area': 'ga',
    'alabama area': 'al',
    'indiana metropolitan area': 'in',
    'virginia metropolitan area': 'va',
    'louisiana metropolitan area': 'la',
    'texas': 'tx',
    'missouri area': 'mo',
    'oregon': 'or',
    'wisconsin': 'wi',
}

# Apply the mapping to the 'state' column
postings_pd['state'] = postings_pd['state'].str.strip().map(state_mapping)

# Fill any remaining NaN values with 'unspecified'
postings_pd['state'].fillna('unspecified', inplace=True)

# Check unique values after mapping
print(postings_pd['state'].unique())
print(postings_pd['state'].value_counts())

['nj' 'oh' 'ny' 'nc' 'united states' 'ne' 'fl' 'mi' 'mo' 'ak' 'al' 'ga'
 'co' 'tx' 'ma' 'az' 'wa' 'wi' 'hi' 'pa' 'ca' 'la' 'ut' 'in' 'va' 'ia'
 'tn' 'mn' 'md' 'ky' 'or' 'il' 'mt' 'ok' 'dc' 'ms' 'sc' 'ks' 'ar' 'nm'
 'ct' 'nv' 'id' 'unspecified' 'nh' 'wy' 'sd' 'nd' 'de' 'wv' 'vt' 'me' 'ri']
united states    16366
ca               11410
tx               10438
ny                6020
fl                5795
nc                4856
il                4396
pa                4069
va                3606
oh                3469
ma                3428
ga                3358
nj                3192
mi                2798
wa                2637
az                2460
co                2293
md                1929
mo                1922
tn                1839
wi                1824
mn                1804
in                1775
sc                1574
or                1239
ky                1164
ct                1154
la                1092
al                 991
dc                 979
ia                 975
ut                 953
ks                 915
nv                 895
ok                 783
ar                 648
ne                 598
nh                 547
nm                 488
hi                 423
wv                 413
id                 405
ms                 376
me                 361
de                 313
ri                 296
mt                 228
nd                 228
ak                 201
vt                 174
sd                 161
wy                 123
unspecified        122
Name: state, dtype: int64

In [0]:
postings_clean = postings_pd
print(postings_clean.shape)

(120503, 49)

In [0]:
postings_clean.head()

      job_id               company_name  ... link_to_application salary_listed
0     921716      corcoran sawyer smith  ...                   0             1
2   10998357      the national exemplar  ...                   0             1
3   23221523     abrams fensterman, llp  ...                   0             1
5   91700727  downtown raleigh alliance  ...                   0             1
6  103254301                 raw cereal  ...                   0             1

[5 rows x 49 columns]

In [0]:
# Replace invalid characters in column names
postings_clean.columns = postings_clean.columns.str.replace(r'[ ,;{}()\n\t=]', '_', regex=True)

# Convert uint8 columns to int
postings_clean = postings_clean.astype({col: 'int64' for col in postings_clean.select_dtypes('uint8').columns})

# Convert pandas DataFrame to PySpark DataFrame
spark_postings_clean = spark.createDataFrame(postings_clean)

# Overwrite the existing Delta table with schema migration
spark_postings_clean.write.format("delta").option("overwriteSchema", "true").mode("overwrite").saveAsTable("default.postings_csv")

### Join cleaned tables
- Schema diagram
![](/Workspace/Users/wdeforest@uchicago.edu/db_diagram.png)

#### Load cleaned tables

In [0]:
# benefits.csv
benefits_df = spark.table("default.benefits_csv")
benefits_pd = benefits_df.toPandas()

# companies.csv
companies_df = spark.table("default.companies_csv")
companies_pd = companies_df.toPandas()

# company_industries.csv
company_industries_df = spark.table("default.company_industries_1_csv")
company_industries_pd = company_industries_df.toPandas()

# company_specialties.csv
company_specialities_df = spark.table("default.company_specialities_csv")
company_specialities_pd = company_specialities_df.toPandas()

# employee_counts.csv
employee_counts_df = spark.table("default.employee_counts_1_csv")
employee_counts_pd = employee_counts_df.toPandas()

# industries.csv
industries_map_df = spark.table("default.industries_csv")
industries_map_pd = industries_map_df.toPandas()

# job_industries.csv
job_industries_df = spark.table("default.job_industries_csv")
job_industries_pd = job_industries_df.toPandas()

# job_skills.csv
job_skills_df = spark.table("default.job_skills_csv")
job_skills_pd = job_skills_df.toPandas()

# salaries.csv
salaries_df = spark.table("default.salaries_csv")
salaries_pd = salaries_df.toPandas()

# skills.csv
skills_map_df = spark.table("default.skills_csv")
skills_map_pd = skills_map_df.toPandas()

# postings.csv
# this is largest file by far (0.5 GB)
postings_df = spark.table("default.postings_csv")
postings_pd = postings_df.toPandas()

### Join all job-related tables

In [0]:
# Join job_industries_pd with industries_map_pd to get the job_industry
job_industries_with_names = job_industries_pd.merge(
    industries_map_pd[['industry_id', 'industry_name']], 
    left_on='primary_industry_id', 
    right_on='industry_id', 
    how='left'
)

# Keep only the job_id and job_industry columns
job_industries_with_names = job_industries_with_names[['job_id', 'industry_name']]
job_industries_with_names.rename(columns={'industry_name': 'job_industry'}, inplace=True)

# Start with job_postings_pd as the base
jobs_compiled = postings_pd

# Join with job_skills_clean
jobs_compiled = jobs_compiled.merge(job_skills_pd, on='job_id', how='left')

# Join with job_industries_with_names (updated version of job_industries_pd)
jobs_compiled = jobs_compiled.merge(job_industries_with_names, on='job_id', how='left')

# Join with benefits_clean
jobs_compiled = jobs_compiled.merge(benefits_pd, on='job_id', how='left')

print("Joined all job-related tables:")
print(jobs_compiled.info())

Joined all job-related tables:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 120503 entries, 0 to 120502
Data columns (total 97 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   job_id                           120503 non-null  int64
 1   company_name                     120503 non-null  object
 2   title                            120503 non-null  object
 3   description                      120497 non-null  object
 4   location                         120503 non-null  object
 5   company_id                       120503 non-null  float64
 6   views                            120503 non-null  float64
 7   applies                          120503 non-null  float64
 8   original_listed_time             120503 non-null  datetime64[ns]
 9   remote_allowed                   120503 non-null  float64
 10  job_posting_url                  120503 non-null  object
 11  application_url                  86426 non-null   object
 12  expiry                           120503 non-null  datetime64[ns]
 13  listed_time                      120503 non-null  datetime64[ns]
 14  normalized_salary                35095 non-null   float64
 15  zip_code                         100617 non-null  float64
 16  fips                             94227 non-null   float64
 17  city                             120503 non-null  object
 18  state                            120503 non-null  object
 19  work_type_Contract               120503 non-null  int64
 20  work_type_Full-time              120503 non-null  int64
 21  work_type_Internship             120503 non-null  int64
 22  work_type_Other                  120503 non-null  int64
 23  work_type_Part-time              120503 non-null  int64
 24  work_type_Temporary              120503 non-null  int64
 25  work_type_Volunteer              120503 non-null  int64
 26  experience_Associate             120503 non-null  int64
 27  experience_Director              120503 non-null  int64
 28  experience_Entry_level           120503 non-null  int64
 29  experience_Executive             120503 non-null  int64
 30  experience_Internship            120503 non-null  int64
 31  experience_Mid-Senior_level      120503 non-null  int64
 32  experience_unspecified           120503 non-null  int64
 33  pay_period_BIWEEKLY              120503 non-null  int64
 34  pay_period_HOURLY                120503 non-null  int64
 35  pay_period_MONTHLY               120503 non-null  int64
 36  pay_period_WEEKLY                120503 non-null  int64
 37  pay_period_YEARLY                120503 non-null  int64
 38  currency_BBD                     120503 non-null  int64
 39  currency_CAD                     120503 non-null  int64
 40  currency_EUR                     120503 non-null  int64
 41  currency_GBP                     120503 non-null  int64
 42  currency_USD                     120503 non-null  int64
 43  app_type_ComplexOnsiteApply      120503 non-null  int64
 44  app_type_OffsiteApply            120503 non-null  int64
 45  app_type_SimpleOnsiteApply       120503 non-null  int64
 46  app_type_UnknownApply            120503 non-null  int64
 47  link_to_application              120503 non-null  int64
 48  salary_listed                    120503 non-null  int64
 49  skill_Accounting/Auditing        119006 non-null  float64
 50  skill_Administrative             119006 non-null  float64
 51  skill_Advertising                119006 non-null  float64
 52  skill_Analyst                    119006 non-null  float64
 53  skill_Art/Creative               119006 non-null  float64
 54  skill_Business_Development       119006 non-null  float64
 55  skill_Consulting                 119006 non-null  float64
 56  skill_Customer_Service           119006 non-null  float64
 57  skill_Design                     119006 non-null  float64
 58  skill_Distribution               119006 non-null  float64
 59  skill_Education                  119006 non-null  float64
 60  skill_Engineering                119006 non-null  float64
 61  skill_Finance                    119006 non-null  float64
 62  skill_General_Business           119006 non-null  float64
 63  skill_Health_Care_Provider       119006 non-null  float64
 64  skill_Human_Resources            119006 non-null  float64
 65  skill_Information_Technology     119006 non-null  float64
 66  skill_Legal                      119006 non-null  float64
 67  skill_Management                 119006 non-null  float64
 68  skill_Manufacturing              119006 non-null  float64
 69  skill_Marketing                  119006 non-null  float64
 70  skill_Other                      119006 non-null  float64
 71  skill_Product_Management         119006 non-null  float64
 72  skill_Production                 119006 non-null  float64
 73  skill_Project_Management         119006 non-null  float64
 74  skill_Public_Relations           119006 non-null  float64
 75  skill_Purchasing                 119006 non-null  float64
 76  skill_Quality_Assurance          119006 non-null  float64
 77  skill_Research                   119006 non-null  float64
 78  skill_Sales                      119006 non-null  float64
 79  skill_Science                    119006 non-null  float64
 80  skill_Strategy/Planning          119006 non-null  float64
 81  skill_Supply_Chain               119006 non-null  float64
 82  skill_Training                   119006 non-null  float64
 83  skill_Writing/Editing            119006 non-null  float64
 84  job_industry                     120414 non-null  object
 85  benefit_401_k_                   28201 non-null   float64
 86  benefit_Child_care_support       28201 non-null   float64
 87  benefit_Commuter_benefits        28201 non-null   float64
 88  benefit_Dental_insurance         28201 non-null   float64
 89  benefit_Disability_insurance     28201 non-null   float64
 90  benefit_Medical_insurance        28201 non-null   float64
 91  benefit_Paid_maternity_leave     28201 non-null   float64
 92  benefit_Paid_paternity_leave     28201 non-null   float64
 93  benefit_Pension_plan             28201 non-null   float64
 94  benefit_Student_loan_assistance  28201 non-null   float64
 95  benefit_Tuition_assistance       28201 non-null   float64
 96  benefit_Vision_insurance         28201 non-null   float64
dtypes: datetime64[ns](3), float64(54), int64(31), object(9)
memory usage: 90.1+ MB
None

In [0]:
jobs_compiled.head()

       job_id  ... benefit_Vision_insurance
0  3905284609  ...                      0.0
1  3905284610  ...                      0.0
2  3905284614  ...                      0.0
3  3905284616  ...                      NaN
4  3905284617  ...                      0.0

[5 rows x 97 columns]

#### Join all company-related tables

In [0]:
# Start with companies_clean as the base
companies_compiled = companies_pd

# Join with company_industries_clean
companies_compiled = companies_compiled.merge(company_industries_pd, on='company_id', how='left')

# Join with company_specialities_clean
companies_compiled = companies_compiled.merge(company_specialities_pd, on='company_id', how='left')

# Join with employee_counts_clean
companies_compiled = companies_compiled.merge(employee_counts_pd, on='company_id', how='left')

print("Joined all company-related tables:")
print(companies_compiled.info())

Joined all company-related tables:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 24434 entries, 0 to 24433
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   company_id            24434 non-null  int32
 1   name                  24434 non-null  object
 2   description           24434 non-null  object
 3   company_size          24434 non-null  float64
 4   company_hq_country    24434 non-null  object
 5   company_industry      24328 non-null  object
 6   company_specialities  17758 non-null  object
 7   employee_count        24434 non-null  int32
 8   follower_count        24434 non-null  int32
 9   time_recorded         24434 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int32(3), object(5)
memory usage: 1.8+ MB
None

In [0]:
companies_compiled.head()

   company_id                      name  ... follower_count       time_recorded
0       32313           Audemars Piguet  ...         249352 2024-04-20 00:27:39
1       32336       Accentuate Staffing  ...          22831 2024-04-11 18:39:47
2       32346                    AMSURG  ...          12775 2024-04-19 21:30:05
3       32359  AgFirst Farm Credit Bank  ...           9168 2024-04-18 05:12:05
4       32364    Aims Community College  ...          16325 2024-04-16 03:31:08

[5 rows x 10 columns]

#### Join compiled jobs and companies tables

In [0]:
# Join jobs_compiled with companies_compiled on company_id
final_compiled = jobs_compiled.merge(companies_compiled, on='company_id', how='left')

print("Final compiled table:")
print(final_compiled.info())

Final compiled table:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 120650 entries, 0 to 120649
Columns: 106 entries, job_id to time_recorded
dtypes: datetime64[ns](4), float64(57), int64(31), object(14)
memory usage: 98.5+ MB
None

In [0]:
final_compiled.head()

       job_id  ...       time_recorded
0  3905284609  ... 2024-04-18 17:04:11
1  3905284610  ... 2024-04-18 17:04:11
2  3905284614  ... 2024-04-18 17:04:11
3  3905284616  ... 2024-04-18 20:31:33
4  3905284617  ... 2024-04-18 20:18:51

[5 rows x 106 columns]

In [0]:
# Convert pandas DataFrame to PySpark DataFrame
spark_final_compiled = spark.createDataFrame(final_compiled)

# Create a new Delta table instead of overwriting an existing one
spark_final_compiled.write.format("delta").option("overwriteSchema", "true").mode("overwrite").saveAsTable("default.final_compiled")

In [0]:
# To access an older version of any of the tables run the following 
# Alternatively, go to catalog -> table -> history

# previous_version_df = spark.read.format("delta").option("versionAsOf", 0).table("default.table_name")

# Show the old version
# previous_version_df.show()

- final_compiled is the combination of all the cleaned datasets (other than salaries which was not used)
- In the next notebook (EDA and Versioning) I will do EDA on final_compiled and clean it in different ways to get different datasets for different analyses